//* Tamaño
$little:1rem;
$md-little:1.5rem;
$sm:2rem;
$medium:2.8rem;
$bt:3.2rem;
$md:4rem;
$big:6rem;


//* btn-cv
$btn-cv:1rem;


//*Fuentes
$sans:'Geologica', sans-serif;
$mont: 'Montserrat', sans-serif;
$open:'Open Sans', sans-serif;
$skills: 'Indie Flower', cursive;